<!DOCTYPE html>
<html>
  <style>
    Body{ 
   background-color: rgb(167, 92, 153);
}
    
</style>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    {{ message }}

    <h1>El mejor de todos</h1>

    <img src="https://osaka.nyc3.cdn.digitaloceanspaces.com/G00_sl_png-a_08_webp-m/sticker-fan_8642933_m.webp" width="45%">

  </body>
</html>
